/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

body {
  margin: 0;
  min-width: 1182px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #0f1113;
  background:#ebf8f0;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}


ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main__content {
  border-bottom: 4px solid #3d5028;
}

._container {
  width: 1200px;
  margin: 0 auto;
}


/* header part */

.header__content {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin: 0 auto;
  padding: 0px 10px 0px 0px;
  margin-top: 5px;
  margin-bottom: 30px;
  background:#ffffff;
  border-left: 1px solid #65ff46;
  border-top: 1px solid #65ff46;
  border-right: 1px solid #65ff46;
  border-bottom: 4px solid #3d5028;
}

.main__header {
  font-size: 44px;
}

.my-photo {
  margin-right: 25px;
  /* border: 4px solid #e3f8c1; */
}

.left-column__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-menu__list {
  width: 690px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background:#06471f;
}

.nav-menu__item {
  margin-right: 20px;
}

.nav-menu__link {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 800;
}

.nav-menu__link:hover {
  color: #156eb8;
}

.right-column__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.right-column__item:nth-of-type(1) {
  margin-top: 20px;
}

.right-column__item {
  margin-top: 10px;
}

.right-column__link:hover {
  color: #cacaca;
}  


/* main part */

section[class] {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  border-bottom: 1px solid #3d5028;
}

.header__part {
  width: 200px;
  padding-left: 10px;
}

.p__bold {
  font-size: 12px;
  font-weight: 600;
}

.content__part {
  width: 1000px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #3d5028;
  text-align: left;
  margin-bottom: 40px;
}

ul.content__list {
  margin-bottom: 10px;
}
ul.content__list_exp {
  list-style-type: disc;
  margin-bottom: 35px;
  padding-inline-start: 60px;
}

.content__list__ed {
  list-style-type:disc;
  margin-left: 5px;
  padding-bottom: 10px;

}

ul.content__list:nth-last-of-type(1) {
  margin-bottom: 0;
}

.date__interval {
  color: #276e5f;
}
.hed__bold {
  list-style-type: none;
  text-decoration: underline;
  font-weight: bold;
}

/* footer part */

.footer {
  margin-top: 40px;
  min-height: 100px;
  font-size: 24px;
  background-color: #7c9178;
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}